
<p>{{recibirMensaje}}<p>

<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30"  [(ngModel)]="personas.id"> 
            <label for="float-input">id</label>
        </span>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <span class="ui-float-label">
    <input id="float-input" type="text" size="30"  [(ngModel)]="personas.userName"> 
    <label for="float-input">userName</label>
</span>
 </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <span class="ui-float-label">
        <input id="float-input" type="text" size="30"  [(ngModel)]="personas.password"> 
        <label for="float-input">password</label>
    </span>
</div>
<div class="ui-g-12 ui-md-6 ui-lg-3">
    <span class="ui-float-label">
        <input id="float-input" type="text" size="30"  [(ngModel)]="personas.name"> 
        <label for="float-input">name</label>
    </span>
</div>

<div class="ui-g-12 ui-md-6 ui-lg-3">
    <span class="ui-float-label">
        <input id="float-input" type="text" size="30"  [(ngModel)]="personas.email"> 
        <label for="float-input">email</label>
    </span>
</div>

<div class="ui-g-12 ui-md-6 ui-lg-3">
    <div class="ui-g-12 ui-md-6 ui-lg-3"><button pButton type="button" label="enviar" class="ui-button-raised ui-button-danger"(click)=' mostrarDatos()' ></button></div>
    
    
</div>
</div>









<app-hijo [recibirPadre]=" enviarHijo" (enviarMensaje)='recibir($event)' ></app-hijo>